<div>
           <!-- {{whichOne}} -->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Cars</mat-label>-->
<!--    <select matNativeControl required>-->
<!--      <option value="volvo">Volvo</option>-->
<!--      <option value="saab">Saab</option>-->
<!--      <option value="mercedes">Mercedes</option>-->
<!--      <option value="audi">Audi</option>-->
<!--    </select>-->
<!--  </mat-form-field>-->

  <mat-form-field appearance="outline" style="width: 30%; padding-right: 5%;" layout-align="end center">
    <mat-label>Country</mat-label>
    <mat-select (keyup)="sendMessage()" [(ngModel)]="currentAdd.country" matNativeControl required>
      <mat-option value="Bangladesh">Bangladesh</mat-option>
      <mat-option value="Russia">Russia</mat-option>
      <mat-option value="Canada">Canada</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="currentAdd.country=='Russia'" appearance="outline" style="width: 30%;" layout-align="end center">
    <mat-label>State</mat-label>
    <mat-select (keyup)="sendMessage()" [(ngModel)]="currentAdd.state" required>
      <mat-option value="Adygea">Adygea</mat-option>
      <mat-option value="Tatarstan">Tatarstan</mat-option>
      <mat-option value="Khakassia">Khakassia</mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field appearance="outline" style="width: 30%; padding-right: 5%;">
        <mat-label>House/Village</mat-label>
        <input (keyup)="sendMessage()" [(ngModel)]="currentAdd.house" matInput placeholder="138/B">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 30%; padding-right: 5%;">
        <mat-label>Road/Block/Sector/Upazila</mat-label>
        <input (keyup)="sendMessage()" [(ngModel)]="currentAdd.road" matInput placeholder="14">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 30%;" layout-align="end center">
        <mat-label>Police Station</mat-label>
        <input (keyup)="sendMessage()" [(ngModel)]="currentAdd.policeStation" matInput placeholder="Uttara">
      </mat-form-field>

    <mat-form-field appearance="outline" style="width: 30%; padding-right: 5%;">
        <mat-label>Post Office</mat-label>
        <input (keyup)="sendMessage()" [(ngModel)]="currentAdd.postOffice" matInput placeholder="Uttara">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 30%; padding-right: 5%;">
        <mat-label>Post Code</mat-label>
        <input type="number" (keyup)="sendMessage()" [(ngModel)]="currentAdd.postCode" matInput placeholder="1230">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 30%;" layout-align="end center">
        <mat-label>District</mat-label>
        <input (keyup)="sendMessage()" [(ngModel)]="currentAdd.district" matInput placeholder="Dhaka">
      </mat-form-field>

</div>
