 <div>
    <div class="mat-headline" style="background-color: rgb(188, 211, 224); text-align: center;">
      <img style="width: 50px; height: 50px; position: relative; top: 80px; left:20px" mat-card-image src="https://ums.seu.edu.bd/assets/images/logos/seu_low.png">
        SOUTHEAST UNIVERSITY
        <div class="mat-subheading-1"style="text-align: center;">
            House 64/B, Road 18, Block B, Banani, Dhaka 1213 Tel: 55034125-28, 55034136, 55034192
            <br>Fax: 880-2-9892914, E-mail: info@seu.ac.bd
            </div>

    </div>

</div>
