
    <br>
    <mat-card class="card" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%">
      Parents Information
      <div>
        <br>
      </div>

      <div>

        <mat-form-field appearance="outline" style="width: 45%; margin-right: 10%">
          <mat-label>Father Name</mat-label>
          <input [(ngModel)]="usrData.faName" name="prefix" matInput placeholder="Leonardo" required >
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 45%;">
          <mat-label>Father Occupation</mat-label>
          <mat-select [(ngModel)]="usrData.faOccu" name="food">
            <mat-option *ngFor="let occu of occupationsFa" [value]="occu.value">
              {{occu.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 45%; margin-right: 10%">
          <mat-label>Mother Name</mat-label>
          <input [(ngModel)]="usrData.maName" name="prefix" matInput placeholder="Leonardo" required >
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 45%;">
          <mat-label>Mother Occupation</mat-label>
          <mat-select [(ngModel)]="usrData.maOccu" name="food">
            <mat-option *ngFor="let occu of occupationsMa" [value]="occu.value">
              {{occu.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


<!--      <mat-card-actions align="end">-->
<!--        <button type="submit"(click)=next() mat-raised-button>Next</button>-->
<!--      </mat-card-actions>-->

    </mat-card>

